* {
    margin-left: 20px;
    margin-right: 20px;
    font-family: 'Trebuchet MS', sans-serif;
    color: #AACCFF;
    /* border: red solid 2px; */
}

html {
    background-color: black;
}

body {
    background-color: #222233;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 20px;
    min-height: 100vh;
}

.container {
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
    height: 110px;
    background-color: #313149;
    padding-left: 10px;
    padding-right: 10px;
}

#title h1 {
    font-size: 45px;
    text-align: center;
    padding-top: 24px;
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    color: white;
}

#title {
    background-color: #313149;
    margin: 0px;
    vertical-align: middle;
    color: white;
    height: 60%;
    margin-top: auto;
    margin-bottom: auto;
    padding-bottom: 8px;
    padding-top: 8px;
}

.main {
    font-size: 45px;
    font-weight: bolder;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    margin: 0px;
    background-color: #313149;
    height: 110px;
    box-sizing: border-box;
    border-left: #AACCFF 1px solid ;
    border-right: #AACCFF 1px solid ;
    height: 60%;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 10px;
}

.main.odin {
    margin-left: auto;
    border-right: none;
}

.link {
    margin-left: 0px;
    font-weight: 300;
    text-decoration: none;
    text-align: center;
}

#recipes {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 0px;
}

.recipe.links {
    font-size: 22px;
    margin-left: 0px;
    margin-top: 0px;
    font-weight: 100;
}

#desc {
    font-size: 35px;
    font-weight: 650;
    vertical-align: middle;
    padding: 0px;
    margin: 0px;
    display: inline-block;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
}

.list.header {
    font-size: 22px;
    margin-bottom: 0px;
    margin-left: 0px;
    clear: both;
}

#directions,
#ingredients {
    font-size: 20px;
    margin-top: 0px;
}

#picture {
    width: 400px;
    height: auto;
    border: 2.5px solid;
    float: left;
}

/* picture */
#birdo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.beside {
    display : flex;
    align-items : center;
    margin-top: 30px;
}

.quotes {
    display: inline-block;
    font-size: 80px;
    margin: 2px;
}
